<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Quoi manger</title>
  </head>
  <body>
    <div class="cards">
      <div class="card-container left">
        <button id="left-card" class="card">
          <img
            id="left-img"
            src="https://www.themealdb.com/images/media/meals/x0lk931587671540.jpg"
            alt=""
          />
          <div class="text">
            <h2 id="left-title">Title</h2>
            <p id="left-subtitle">Subtitle</p>
          </div>
        </button>
      </div>
      <div class="card-container right">
        <button id="right-card" class="card">
          <img
            id="right-img"
            src="https://www.themealdb.com/images/media/meals/x0lk931587671540.jpg"
            alt=""
          />
          <div class="text">
            <h2 id="right-title">Title</h2>
            <p id="right-subtitle">Subtitle</p>
          </div>
        </button>
      </div>
    </div>

    <div class="actions">
      <button id="left-btn">Left</button>
      <button id="right-btn">Right</button>
      <button id="next-btn" class="hidden">Next</button>
    </div>
    <div id="loader" class="loader">Loading...</div>
    <script src="script.js"></script>
  </body>
</html>
